#---------------
.env
#---------------
etc-pihole/
#---------------
caddy/config/*
caddy/data/*
caddy/certs/*
*.crt
*.key
#---------------
redis/*
#---------------
nextcloud/apps
nextcloud/config
nextcloud/data
#---------------
mariadb/*
!mariadb/my.cnf
#---------------
jellyfin/cache
jellyfin/config
jellyfin/media
#---------------TODO Remove sym links from version control: git rm jellyfin/media nextcloud/data
