#------------------------
.vscode
.env
docker-compose.yml
# SearXNG
searxng/
!searxng/limiter.toml
!searxng/setting.yml-example
# Pihole
pihole/
# Unbound
unbound/
!unbound/unbound.conf
# Caddy
caddy/
!caddy/Caddyfile-example
!caddy/Caddyfile-example-http
# Jellyfin
jellyfin/
# Others
other-services/
#------------------------
