#------------------------
.vscode
.env
docker-compose.yml
# SearXNG
searxng/searxng-data/
searxng/uwsgi.ini
searxng/searxng-data/*
#Ignored settings.yml because of secret
searxng/settings.yml
searxng/settings.yml.new
# Pihole
pihole/
# Unbound
unbound/
!unbound/unbound.conf
# Caddy
caddy/
!caddy/Caddyfile-example
!caddy/Caddyfile-example-http
# Jellyfin
jellyfin/
# Others
other-services/
#------------------------
